* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(44, 44, 44);
    width: 100vw;
    height: 280 vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction {
    background-color: rgb(213, 211, 211);
    width: 60%;
    height: 75%;
    display: flex;
}

.introduction div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.img {
    width: 450px;
    height: 450px;
    border-radius: 100%;
    box-shadow: 20px 20px 5px 1px white;
}

.txt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt div {
    width: 50%;
    height: 10%;
    display: flex;
}

.text {
    width: 200px;
    height: 30px;
    font-size: 40px;
    animation: colorchange 1.5s infinite;
}

@keyframes colorchange {
    0% {
        color: none;
    }

    25% {
        color: rgb(34, 35, 76);
    }

    50% {
        color: rgb(42, 67, 31);
    }

    75% {
        color: rgb(67, 162, 165);
    }

    100% {
        color: rgb(0, 0, 0);
    }
}

.pfp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1 {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills {
    width: 60%;
    height: 100%;
}

.skilltxt {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logos {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logos div {
    width:230px;
    height: 230px;
}
.circle {
    width: 230px;
    height: 230px;
    background-color: rgb(213, 211, 211);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
}
.circle:hover {
    width:250px;
    height:250px;
    border-radius: 100%;
    background-color:rgb (213, 211, 211);
}
.a {
    width: 230px;
    height: 270px;
    color:white;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
}
.htmllogo {
    width: 200px;
    height: 200px;
}

.csslogo {
    width: 150px;
    height: 200px
}

.jslogo {
    width: 150px;
    height: 200px
}

.skill-txt {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2 {
    width: 100%;
    height:75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact {
    width:60%;
    height:100%;
    display: flex;
    background-color: rgb(213, 211, 211);
}
.contact1 {
    padding:40px;
    display: flex;
    flex-direction: column;
}
.title {
    height: 80px;
    font-size: 60px;
    color: rgb(44, 44, 44);
}
.contact1 {
    gap:10px
}
.name {
    width: 400px;
    height: 60px;
    background-color: rgb(213, 211, 211);
    border-radius: 50px;
    font-size: 20px;
    border: 3px solid rgb(44, 44, 44);
}
.email {
    width: 400px;
    height: 60px;
    border-radius: 50px;
    background-color: rgb(213, 211, 211);
    font-size: 20px;
    border: 3px solid rgb(44, 44, 44);
}
.messege {
    width:400px;
    height:250px;
    font-size: 30px;
    background-color: rgb(213, 211, 211);
    border: 3px solid rgb(44, 44, 44);
    border-radius: 20px;
}
.button {
  width:300px;
  height:80px;
  border-radius: 30px;
  background-color: rgb(44, 44, 44);
  color: rgb(213, 211, 211);
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}
.map {
    margin-top: 100px;
    margin-left: 40px;
}
.footer {
    width: 100%;
    height: 30vh;
    background-color: rgb(92, 25, 25);
}