* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 420vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Top {
    background-color: rgb(83, 29, 134);
    width: auto;
    height: 50vh;
    display: flex;
    background-color: blueviolet;
    width: auto;
    height: 50vh;
    display: flex;
}

.UG {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
}

.Sidebar {
    width: auto;
    height: 100px;
    border: 1px solid red;
}

.bottom {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.henyugev {
    width: 100%;
    height: 90%;
    background-color: rgb(194, 43, 93);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.henyugev :first-child {
    width: 100%;
    display: block;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bigtitle {
    width: 100%;
    height: 75%;
    font-size: 100px;
    color: white;
}

.box {
    width: 100px;
    height: 10px;
    background-color: grey;
}
.smalltitle {
    height: 40px;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.footer {
    width: 100%;
    height: 10%;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer div {
    font: caption ;
    color: white;
}
.comment {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header"
    "side sidebar1"
    "side1 sidebar2";
}
.header {
    grid-area: header;
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side {
    grid-area: side;
}
.sidebar1 {
    grid-area: sidebar1;
}
.side1 {
    grid-area: side1;
}
.sidebar2 {
    grid-area: sidebar2;
}
.picture {
    width: 150px;
    height: 150px;
    border: 3px solid black;
    border-radius: 100%;
}