body {
    position: relative;
    display: flex;
    background-color: rgb(73, 156, 211);
}
.page2 {
    border: 1px solid;
    position: fixed;
    right: 0;
    z-index: 20;
    width: 3%;
    height: 4%;
    opacity: 0;
    border-radius: 50%;
}
.page2:hover {
    width: 5%;
    height: 4%;
    border-radius: 6%;

}
.page2:hover + .page22 {
    width: 5%;
    height: 4%;
    border-radius: 6%;
    box-shadow: 0px 0px 2px 2px brown;
}
.page22 {
    border: 1px solid;
    transition: 300ms;
    border-radius: 50%;
    color: rgb(234, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3%;
    height: 4%;
    position: fixed;
    right: 0.2%;
    top: 1%;
    background-color: red;
    z-index: 19;
}
.page3 {
    border: 1px solid;
    border-radius: 50%;
    opacity: 0;
    position: fixed;
    right: 0px;
    top: 10%;
    z-index: 20;
    width: 3%;
    height: 4%;
}
.page3:hover {
    border: 1px solid;
    width: 5%;
    height: 4%;
    border-radius: 6%;
}
.page3:hover + .page33 {
    width: 5%;
    height: 4%;
    border-radius: 6%;
    box-shadow: 0px 0px 2px 2px brown;
}
.page33 {
    border: 1px solid;
    transition: 300ms;
    border-radius: 50%;
    color: rgb(234, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3%;
    height: 4%;
    position: fixed;
    right: 0.2%;
    top: 10%;
    background-color: red;
    z-index: 19;
}
.page2:checked ~ .container2{
    width: 100%;
    height: 100vh;
    opacity: 1;
    transition: 300ms;
    z-index: 5;
}
.page2:checked ~ .container {
    transform: translateY(500px);
    width: 0px;
    height: 0px;
    transition: 300ms;
}
.page3:checked ~ .container3 {
    transform: translateZ(100px);
    z-index: 6;
    width: 100%;
    height: 100vh;
    opacity: 1;
}
.page4 {
    color: rgb(234, 255, 0);
    border: 1px solid;
    transition: 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0px;
    top: 20%;
    width: 3%;
    height: 4%;
    border-radius: 50%;
    z-index: 20;
    opacity: 0;
}
.page44 {
    border: 1px solid;
    transition: 300ms;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0.2%;
    top: 20%;
    width: 3%;
    height: 4%;
    z-index: 19;
    color: rgb(234, 255, 0);
    background-color: red;
}
.page4:hover {
    width: 5%;

}
.page4:hover + .page44 {
    border-radius: 6%;
    width: 5%;
    height: 4%;
    box-shadow: 0px 0px 2px 2px brown;
}

.page4:checked ~ .container4{
    transition: 300ms;
    z-index: 7;
    width: 200vw;
    height: 200vh;
    opacity: 1;
}
.page4:checked ~ .container4 .sline{
    animation: sline 2s linear infinite;
}
.page4:checked ~ .container4 .fline{
    animation: fline 2s linear infinite;
}
.page4:checked ~ .container4 .starcont{
    animation: shootingstar 3s ease-in infinite;
} 
.container {
    margin-left: 5% !important;
    position: absolute;
    z-index: 1;
    background-color: rgb(73, 156, 211);
    background-image: url(https://c4.wallpaperflare.com/wallpaper/500/442/354/outrun-vaporwave-hd-wallpaper-thumb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.fdiv {
    font-family: cursive;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}
.p1 {
    color: red;
}
p {
    height: 0.5%;
}
.picdiv {
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pi {
    color: purple;
}
@media (min-width: 500px) {
    p {
        transition: 300ms;
        font-size: 10px;
    }
    .skillpc {
        transition: 300ms;
        width: 60%;
        height: 30%;
    }
    .skils {
        transition: 300ms;
        width: 80%;
        height: 30%;
    }
    .footer {
        transition: 300ms;
        height: 15%;
    }
    .txt {
        transition: 300ms;
        top: 30%;
        font-size: 20px;
    }
}
@media (min-width: 800px) {
    p {
        transition: 300ms;
        font-size: 15px;
    }
    .skillpc {
        transition: 300ms;
        width: 50%;
        height: 30%;
    }
    .skils {
        transition: 300ms;
        width: 100%;
        height: 40%;
    }
    .footer {
        transition: 300ms;
        height: 22%;
    }
    .txt {
        transition: 300ms;
        top: 35%;
        font-size: 25px;
    }
}
@media (min-width: 1100px) {
    p {
        transition: 300ms;
        font-size: 20px;
    }
    .skillpc {
        transition: 300ms;
        width: 60%;
        height: 50%;
    }
    .skils {
        transition: 300ms;
        width: 80%;
        height: 40%;
    }
    .footer {
        transition: 300ms;
        height: 30%;
    }
    .txt {
        transition: 300ms;
        font-size: 35px;
    }
}
@media (min-width: 1300px) and (min-height: 800px) {
    p {
        transition: 300ms;
        font-size: 20px;
    }
    .skillpc {
        transition: 300ms;
        width: 60%;
        height: 50%;
    }
    .skils {
        transition: 300ms;
        width: 100%;
        height: 50%;
    }
    .footer {
        transition: 300ms;
        height: 36%;
    }
    .txt {
        transition: 300ms;
        font-size: 40px;
    }
}
@media (min-width: 1500px) {
    p {
        transition: 300ms;
        font-size: 25px;
    }
    .skillpc {
        transition: 300ms;
        width: 70%;
        height: 80%;
    }
    .skils {
        transition: 300ms;
        width: 100%;
        height: 60%;
    }
    .footer {
        transition: 300ms;
        height: 45%;
    }
    .txt {
        transition: 300ms;
        font-size: 50px;
    }
}
@media (min-width: 1800px) {
    .footer {
        transition: 300ms;
        height: 58%;
    }
    .txt {
        transition: 300ms;
        font-size: 80px;
    }
    p {
        transition: 300ms;
        font-size: 30px;
    }
    .skils {
        transition: 300ms;
        width: 100%;
        height: 65%;
    }
}
.pic {
    animation: pic 7s ease-in infinite;
    margin-left: 55%;
    margin-bottom: 45%;
    width: 40%;
    height: 40%;
    border: 1px solid brown;
    border-radius: 50%;
    box-shadow: 15px 15px 15px 15px rgb(73, 156, 211);
}
@keyframes pic {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-90deg);
    }
    40% {
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(-360deg);
    }
    80% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@media (min-width: 500px) {
    .pic {
        width: 30%;
        height: 8%;
        box-shadow: 2px 2px 10px 10px rgb(73, 156, 211);
    }
}
@media (min-width: 800px) {
    .pic {
        width: 35%;
        height: 16%;
        box-shadow: 5px 5px 10px 10px rgb(73, 156, 211);
    }
}
@media (min-width: 1100px) {
    .pic {
        width: 35%;
        height: 20%;
        box-shadow: 8px 8px 15px 10px rgb(73, 156, 211);
    }
}
@media (min-width: 1300px) and (min-height: 800px) {
    .pic {
        width: 35%;
        height: 20%;
    }
}
@media (min-width: 1500px) {
    .pic {
        width: 35%;
        height: 30%;
    }
}
@media (min-width: 1800px) and (min-height: 800px){
    .pic {
        width: 35%;
        height: 30%;
    }
}
@media (min-width: 2000px) and (min-height: 800px){
    .pic {
        width: 40%;
        height: 30%;
    }
}
.container2 {
    position: absolute;
    background-color: rgb(73, 156, 211);
    width: 0%;
    height: 0vh;
    opacity: 0;
}
.fproj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
}
.sproj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}
.tproj {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
}
.pic1 {
    margin-bottom: 150px;
    width: 100%;
    height: 40%;
}
.pic2 {
    width: 80%;
    height: 40%;
}
.pic3 {
    width: 50%;
    height: 40%;
    margin-top: 100px;
}
.button3 {
    width: 15%;
    height: 5%;
    background-color: aqua;
}
.button3:active {
    box-shadow: 0px 0px 1px 2px aqua;
}
.button3:active + .pic3 {
    animation: pic3 9s ease-out;
}
@keyframes pic3 {
    0% {
        transform: translate(0px, 0px);
        width: 50%;
        height: 40%;
    }
    12.5% {
        transform: translateY(100%);
    }
    25% {
        transform: translate(-500%, 80%);
    }
    37.5% {
        transform: translate(-450%, -150%);
    }
    50% {
        transform: translate(0%, -100%);
    }
    62.5% {
        transform: translate(0%, 20%);
    }
    75% {
        transform: translate(0%, -20%);
    }
    87.5% {
        transform: translate(0%, 0%);
    }
}
.button1 {
    width: 15%;
    height: 5%;
    background-color: aqua;
}
.button1:active {
    box-shadow: 0px 0px 1px 2px aqua;
}
.button1:active + .pic1 {
    animation: pic1 9s ease-out;
}
@keyframes pic1 {
    0% {
        transform: translate(0px, 0px);
    }
    12.5% {
        transform: translateY(-100%);
    }
    25% {
        transform: translate(250%, -50%);
    }
    37.5% {
        transform: translate(250%, 140%);
    }
    50% {
        transform: translate(-30%, 100%);
    }
    62.5% {
        transform: translate(-10%, -10%);
    }
    75% {
        transform: translate(0%, -10%);
    }
    87.5% {
        transform: translate(0%, 10%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}
.button2 {
    width: 18%;
    height: 5%;
    background-color: aqua;
}
.button2:active{
    box-shadow: 0px 0px 1px 2px aqua;
}
.button2:active + .pic2 {
    animation: pic2 9s ease-out;
}
@keyframes pic2 {
    0% {
        transform: translate(0px, 0px);
    }
    12.5% {
        transform: translateY(-100%);
    }
    25% {
        transform: translate(210%, -80%);
    }
    37.5% {
        transform: translate(210%, 120%);
    }
    50% {
        transform: translate(0%, 80%);
    }
    62.5% {
        transform: translate(-210%, 100%);
    }
    75% {
        transform: translate(-210%, -100%);
    }
    87.5% {
        transform: translateY(-90%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}
.container3 {
    transition: 300ms;
    z-index: 3;
    width: 0%;
    height: 0%;
    position: absolute;
    opacity: 0;
    background-color: rgb(73, 156, 211);
}
.skills {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
}
.skilldiv {
    width: 40%;
    height: 100%;
}
.Topic {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.topic {
    font-size: 50px;
    color: blue;
    animation: color 4s linear infinite;
}
@keyframes color {
    0% {
        color: blue;
    }
    25% {
        color: red;
    }
    50% {
        color: burlywood;
    }
    75% {
        color: orange;
    }
    100% {
        color: blue;
    }
}
.skillpic {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    height: 100%;
}
.footer {
    position: relative;
    width: 100%;
    background-color: aqua;
}
.footerback {
    z-index: 3;
    width: 100%;
}
.txt {
    position: absolute;
    left: 25%;
    font-family: cursive;
    color: blue;
    animation: txtcolor 4s linear infinite;
}
@keyframes txtcolor {
    0% {
        color: blue;
    }
    25% {
        color: red;
    }
    50% {
        color: burlywood;
    }
    75% {
        color: orange;
    }
    100% {
        color: blue;
    }
}
.container4 {
    width: 0;
    height: 0;
    transition: 300ms;
    position: absolute;
    background-color: rgb(73, 156, 211);
    z-index: 0;
    opacity: 0;
    background-image: url(https://i.pinimg.com/originals/3f/4b/0e/3f4b0eeaf3bc044b522efbb4a38c9737.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
}
.starcont {
    position: relative;
    width: 5%;
    height: 10%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes shootingstar {
    0% {
        transform: translate(0%, 0%);
        transition-delay: 2s;
    }
    50% {
        transform: translate(2000%, 950%);
        transition-delay: 2s;
    }
    100% {
        transform: translate(0%, 0%);
        transition-delay: 2s;
    }
}
.star {
    position: absolute;
    width: 12%;
    height: 12%;
    border-radius: 50%;
    background-color: rgb(9, 19, 146);
    box-shadow: 0px 0px 100px 50px rgb(9, 19, 146);
    z-index: 2;
}
.star1 {
    width: 12%;
    height: 12%;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 0px 50px 4px rgb(9, 19, 146);
}
.fline {
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: aqua;
    transform: rotate(90deg);
    box-shadow: 0px 0px 15px 8px white;
}
.sline {
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: aqua;
    box-shadow: 0px 0px 15px 8px white;
 } 
 @keyframes fline {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
 }
 @keyframes sline {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(450deg);
    }
 }
 .starcont:hover{
    animation-play-state: paused;
 }