.container1{
    height: 100vh;
    width: 100vw;
    background-color:  rgb(186, 153, 178);
    flex-direction: row;
}


.color{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.text{
    display: flex;
    align-self: flex-start;
    margin-top: 70px;
}
.in{
    height: 80vh;
    width: 80vw;
    background-color: white;
    border-radius: 60px;
}
.hud{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.lolo{
    height: 28vh;
    width: 20vw;
    border-radius: 60px;
}
.move{
    display: flex;
    align-items: center;
    height: 70vh;
    
}
.text{
    display: flex;
    margin-left: 100px;
    align-items: flex-start;
    height: 60vh;
    flex-direction: column;

 }
.size{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: rgb(218, 110, 128);
}

.size2{
    color: rgb(83, 82, 82);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;

}
.ehub{
    display: flex;
    flex-direction: column;
}
.fyfy{
    height: 130px;
    width: 130px;
    
}
.fyfy2{
    height: 130px;
    width: 90px;
    margin-left:20px ;
   margin-top: 4px;
}
.fyfy3{
    height: 130px;
    width: 90px;
    margin-left: 120px;
    
   
}
.squ{
    height: 200px;
    width: 400px;
    opacity: 0;
}

.fyfy:hover + .squ{
    opacity: 1;
}


.fyfy2:hover + .squ{
    opacity: 1;
}
.fyfy3:hover + .squ{
    opacity: 1;
}
.huhu{
    display: flex;
    flex-direction: row;
}
.squ{
    height: 200px;
    width: 400px;
    background-color: rgb(119, 83, 148);
    border-radius: 10px;
}
.sizer{
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.mover{
    display: flex;
    justify-content: center;
  
}
.sese{
    display: flex;
    margin-left: 10px;
}

.dede{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.gfgf{
    height: 40px;
    width: 40px;
}
.qwqw{
    display: flex;
    flex-direction: column;
}