body{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: darkblue;
}
.second-page{
    position: fixed;
    right: 0;
    z-index: 20;
    width: 3%;
    height: 4%;
    opacity: 0;
}
.second-page:hover {
    width: 5%;
    height: 4%;
    border-radius: 6%;
    transition: 250ms;
}
.second-page:hover + .button1 {
    width: 5%;
    height: 4%;
    border-radius: 6%;
    box-shadow: 0px 0px 2px 2px blue;
    transition: 250ms;
}
.button1{
    transition: 250ms;
    color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3%;
    height: 4%;
    position: fixed;
    right: 0.2%;
    top: 1%;
    background-color: lightblue ;
    z-index: 19;
}
.third-page{
    opacity: 0;
    position: fixed;
    right: 0px;
    top: 100px;
    z-index: 20;
    width: 3%;
    height: 4%;
}
.third-page:hover{
    width: 5%;
    height: 4%;
    border-radius: 6%;
}
.third-page:hover + .Button2{
    width: 5%;
    height: 4%;
    border-radius: 6%;
    box-shadow: 0px 0px 2px 2px blue;
    transition: 250ms;
}
.Button2{
    transition: 250ms;
    color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3%;
    height: 4%;
    position: fixed;
    right: 0.2%;
    top: 8.7%;
    background-color: lightblue;
    z-index: 19;
}
.Text {
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 38px;
    color: cyan;
}
/* @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 30px cyan, 0 0 40px cyan, 0 0 50px cyan, 0 0 60px cyan, 0 0 70px cyan;
    }
    to {
      text-shadow: 0 0 20px blue, 0 0 30px blue, 0 0 40px blue, 0 0 50px blue, 0 0 60px blue, 0 0 70px blue, 0 0 80px blue;
    }
} */
.second-page:checked ~ .container2{
    width: 100%;
    height: 100vh;
    opacity: 1;
    transition: 250ms;
    z-index: 5;
}
.second-page:checked ~ .container{
    transform: translateY(500px);
    width: 0px;
    height: 0px;
    transition: 250ms;
}
.third-page:checked ~ .container3{
    transform: translateZ(100px);
    z-index: 6;
    width: 100%;
    height: 100vh;
    opacity: 1;
}
.container {
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
@media (min-width: 500px) {
    p {
        font-size: 8px;
    }
    .skillz{
        width: 80%;
        height: 30%;
    }
}
@media (min-width: 800px) {
    p{
        font-size: 15px;
    }
    .skillz{
        width: 100%;
        height: 40%;
    }
}
@media (min-width: 1100px) {
    p {
        font-size: 20px;
    }
    .skillz{
        width: 80%;
        height: 40%;
    }
}
@media (min-width: 1300px) and (min-height: 800px) {
    p{
        font-size: 20px;
    }
    .skillz{
        width: 100%;
        height: 50%;
    }
}
@media (min-width: 1500px){
    p{
        font-size: 25px;
    }
    .skillz{
        width: 100%;
        height: 60%;
    }
}
@media (min-width: 1800px){
    p{
        font-size: 30px;
    }
    .skillz{
        width: 100%;
        height: 65%;
    }
}
.container2{
    position: absolute;
    background-color: darkslateblue;
    width: 0%;
    height: 0vh;
    opacity: 0;
}
.JS{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
}
.HTML{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%; 
}
.CSS{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
}
.first-pic{
    margin-bottom: 150px;
    width: 100%;
    height: 40%;
}
.second-pic{
    width: 80%;
    height: 40%;
}
.third-pic{
    width: 50%;
    height: 40%;
    margin-top: 100px;
}
.container3{
    transition: 250ms;
    z-index: 3;
    width: 0%;
    height: 0%;
    position: absolute;
    opacity: 0;
    background-color: darkslateblue;
}
.my-skills{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
}
.skills-container{
    width: 40%;
    height: 100%;
}
.Skills{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.skils{
    font-size: 50px;
    color: cyan;
    animation: color 4s linear infinite;
}
@keyframes color {
    0% {
        color: darkblue;
    }
    25%{
        color: lightblue;
    }
    50%{
        color: cyan;
    }
    75%{
        color: blue;
    }
    100%{
        color: darkslateblue;
    }
}
.Me{
    margin-top: 150px;
}
.Go-Back{
    display: flex;
    width: fit-content;
    height: fit-content;
    color: aqua;
}
.BUTTON{
    display: flex;
    width: fit-content;
    height: fit-content;
    color: cyan;
    background-color: lightblue;
}
.wrapper{
    margin-top: 1000px;
}
#title-Tag-Line {
    font-size: 20px;
  }
  /* .card-item__bg{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
    position: relative;
    margin: 30px auto;
    transform: translate(0px, 50px);
    z-index: 5;
  } */
  
  /* form animation starts */
  .form {
    background: cyan;
    box-shadow: 0 30px 60px 0 darkblue;
    border-radius: 5px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    position: absolute;
    border-top: 5px solid darkcyan;
  /*   z-index: 1; */
    animation: bounce 1.5s infinite;
  }
  ::-webkit-input-placeholder {
    font-size: 1.3em;
  }
  
  .title{
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
  }
  .termsConditions{
    margin: 0 auto 5px 80px;
  }
  
  .pageTitle{
    font-size: 2em;
    font-weight: bold;
    color: darkblue;
  }
  .secondaryTitle{
    color: #0e3750;
  }
  
  .name {
    background-color: #ebebeb;
    color: white;
  }
  .name:hover {
    border-bottom: 5px solid darkcyan;
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .email {
    background-color: #ebebeb;
    height: 2em;
  }
  
  .email:hover {
    border-bottom: 5px solid darkcyan;
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .message {
    background-color: #ebebeb;
    overflow: hidden;
    height: 10rem;
  }
  
  .message:hover {
    border-bottom: 5px solid darkcyan;
    height: 12em;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
  }
  
  .submit {
    width: 200px;
    color: white;
    background-color: darkblue;
    font-size: 20px;
  }
  
  .submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 300px;
    border-top: 5px solid darkcyan;
    border-radius: 0%;
  }
  
  @keyframes bounce {
    0% {
      tranform: translate(0, 4px);
    }
    50% {
      transform: translate(0, 8px);
    }
  } 